:root {
  --body: #ffcf79;
  --borders: #383;
  --content: #e5e4d7;
  --buttons: #84f14e;
  --buttonsHover: #4ef18f;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  width: 800px;
  font-size: 20px;
  margin: 30px auto;
  background-color: var(--body);
}

.header {
  margin-bottom: 40px;
}

.header h1 {
  text-align: center;
  font-size: 1.5em;
  text-decoration: underline 2px #ccc;
}

.container {
  padding: 5px 30px;
  background-color: var(--content);
  border-radius: 6px;
}

.forms {
  width: 340px;
  margin: 20px 10px;
  background-color: var(--content);
  display: inline-block;
}

.income-form,
.expenditure-form {
  --borders: #ccc;
  padding: 20px 30px;
  margin-bottom: 30px;
  border: 1px solid var(--borders);
  border-radius: 6px;
  min-height: 20vh;
}

.displays {
  width: 340px;
  margin: 20px 10px;
  background-color: var(--content);
  float: right;
  clear: both;
}

.displays h2 {
  font-size: 1.1em;
}

.income-display,
.expenditure-display {
  --borders: #ccc;
  padding: 20px 30px;
  margin-bottom: 30px;
  border: 1px solid var(--borders);
  border-radius: 6px;
  text-align: center;
  min-height: 20vh;
}

.income-display {
  color: #00ff00;
}

.expenditure-display {
  color: #ff0000;
}

label {
  font-size: 0.9em;
  margin-bottom: 1em;
}
input[type="text"] {
  border: none;
  padding: 6px;
  margin-top: 0.4em;
  font-size: 0.9em;
  border-radius: 5px;
}

input[type="text"]:focus {
  outline-color: var(--borders);
}

button {
  cursor: pointer;
  /* background-color: linear-gradient(to right, red, green); */
  padding: 14px;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.7em;
  margin: 10px auto;
  border: none;
  border-radius: 6px;
  transition: 600ms;
  transition-property: background-position;
  background-size: 200% auto;
  /* color: #fffafa; */
  /* color: #faebd7; */
  color: #ffffff;
  box-shadow: 0 0 20px #eee;
  /* background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%); */
  background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}

button:hover {
  background-position: right center;
}
